{% extends 'layout/basic.html' %}

{% block title %}О сайте {% endblock %}

{% block content %}
<h2>О сайте</h2>

<p>Мы – интернет-магазин по продаже домашнего текстиля - компания, которая создана для того, чтобы в Ваш дом привносить уют, тепло, удобство, Вашим детям доставлять радость и комфорт от текстиля, купленного в нашем интернет-магазине. У нас Вы найдете огромный выбор постельного белья, разнообразные пледы, полотенца и покрывала, подушки и одеяла на любой сезон и вкус, шторы, халаты, матрасы и многое другое. Все для Вас и Ваших детей. Вам не нужно долго ходить по магазинам и тратить время на поиск, текстиль для дома Вы можете заказать у нас. Мы выполним любой Ваш текстильный каприз.</p>

{% endblock content %}